
{% if page.title == "index" %}
<div class="header-back"
        style="background-image: url({{ '/static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.banners[0].src }});"
        title="{{ site.data.index.banners[0].title }}">
</div>
{% elsif page.title contains 'Machine' %}
<div id="inSlider" class="carousel">
    <div class="header-back"
            style="background-image: url({{ '/static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.banners[2].src }});"
            title="{{ site.data.index.banners[2].title }}">
    </div>
</div>
{% else %}
<div id="inSlider" class="carousel">
    <div class="header-back"
            style="background-image: url({{ '/static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.banners[1].src }});"
            title="{{ site.data.index.banners[1].title }}">
    </div>
</div>
{% endif %}

