<div id="inSlider" class="carousel">
    <div id="typed-text" class="typed-text"></div>
    <div class="header-back"
            style="background-image: url({{ 'static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.banners[1].src }});"
            title="{{ site.data.index.banners[1].title }}">
    </div>
</div>

{% if site.dynamic-typing %}
  <!-- Dynamic Typing Start -->
  <script src="{{"static/js/typed.min.js"| prepend: site.baseurl }}"></script>

  <script type="text/javascript">
    var myQuotes =  new Array();
    {% for line in site.lines %}
        myQuotes.push("{{ line.text }}");
    {% endfor %}

  console.dir(myQuotes);

  function shuffle(array) {
    var currentIndex = array.length, temporaryValue, randomIndex ;

    /* While there remain elements to shuffle... */
    while (0 !== currentIndex) {

      /* Pick a remaining element... */
      randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex -= 1;

      /* And swap it with the current element. */
      temporaryValue = array[currentIndex];
      array[currentIndex] = array[randomIndex];
      array[randomIndex] = temporaryValue;
    }

    return array;
  }

  {% if site.shuffle %}
    shuffle(myQuotes);
  {% endif %}

    $("#typed-text").typed({
      strings: myQuotes,
      typeSpeed: {{ site.type-speed }},
      backDelay: {{ site.delete-delay }},
      startDelay: {{ site.start-delay }},
      loop: {{ site..loop }},
      loopCount: {{ site.loop-count }}
    });
  </script>

  <!-- Dynamic Typing End  -->
{% endif %}